.box {
    opacity: 0;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border: 2px solid #00000000;
    border-radius: 18px;
    background: linear-gradient(#131219, #131219) padding-box, linear-gradient(var(--angle),
            #E46CAA,
            #8334B6,
            #B350B000,
            #B350B000,
            #B350B000) border-box;
    animation: 8s rotate linear infinite;
}

.contact-us-form {
    opacity: 1;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border: 2px solid #00000000;
    border-radius: 18px;
    background: linear-gradient(#131219, #131219) padding-box, linear-gradient(var(--angle),
            #E46CAA,
            #8334B6,
            #B350B000,
            #B350B000,
            #B350B000) border-box;
    animation: 8s rotate linear infinite;
    border-radius: 30px;
}

.group:hover .box {
    opacity: 1;
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}


/* main contact page gradient background */
/* Ellipse 8 */

/* position: absolute;
width: 1182px;
height: 510px;
left: calc(50% - 1182px/2 + 484px);
top: calc(50% - 510px/2 - 398.86px); */

/* Gradient */
/* background: linear-gradient(180.64deg, #E46CAA 10.89%, #8334B6 99.45%);
opacity: 0.9;
filter: blur(102px);
transform: rotate(-105deg); */

.main-contact-bg {
    background-image: url('/bg-blur.svg');
    background-position: 100% 0;
    background-size: 60% 100%;
    background-repeat: no-repeat;
    filter: blur(15px);
}